.testDataControlGroup {

  display: flex;
  flex-direction: column;

  .submitButton {
    margin-top: 60px;
  }

  .timeLimit {
    display: flex;
    align-items: center;
    column-gap: 20px;

    &__unit {
      margin-top: 10px;
    }
  }
}
