.testCard {
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
  &:active {
    opacity: 1;
  }
  &:focus {
    opacity: 1;
  }

  .img {
    aspect-ratio: 16/9;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .name {
    font-size: 18px;
    font-weight: bold;

    margin-top: 15px;
  }

  .numberOfQuestions {
    margin-top: 10px;
  }

  .categoriesFlow {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .categoryBadge {
    background-color: gray;
    border-radius: 10px;
    padding: 7px;
    margin-top: 10px;
  }

  .categoryName {
    font-size: 12px;
    font-weight: bold;
    color: white;
  }
}
